body{
    background-image: url("../images/Background1.jpg");
    background-color: black;
}


img {
    height: 50%;
    width: 50%;
}

.btn{
    background-color: black
}

footer{
    text-align: center;
    max-width: auto;
}

#questions{
    text-align: center;
    color: white;
    background-color: black;
}

.divider{
    color: white;
    font-weight: bold
}

.container, .jumbotron{
    color: white;
    background-color: black;

}